body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.page-pad {
    padding-left: 250px;
    padding-right: 250px;
}

.section-pad {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
   max-width: auto;
   max-height: 250px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 8px;
    transition-duration: 0.7s;
}

button:hover{
    opacity: 0.6;
}
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 28px;
    
}

.right-links{
    display: flex;
    gap: 15px;
}

/* Hero */

.hero {
    display: flex;
    background-color: #1F2937;
    gap: 20px; 
}

.hero-text-left {
    flex: 1 1 0;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}

.hero-image-container {
    flex: 2 1 0;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image { 
   width: 600px;
   height: auto;
   max-width: 100%;
   max-height: 100%;
    
}

/* Info Section */

.one {
    text-align: center;
}

.info-heading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 50px;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-text {
    padding-top: 5px;
}

.info-image-text {
    width: 200px;
}

.info-image-text img {
    border-radius: 25px;
    border: 5px solid #3882F6;
}

/* Quote Section */

.two { 
    background-color: #E5E7EB;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    width: 66%;
}

.quote-author {
    font-size: 20px;
    font-weight: 800;
    width: 66%;
    text-align: end;
}

/* CTA */

.three { 
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box{
    width: 100%;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
}

.action-title{
    font-size: 24px;
    color:#F9FAF8;
    padding-bottom: 5px;
}

.action-text{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up.button {
    border: 2px solid #F9FAF8;
    font-size: 18px;
    padding: 5px 30px;
}

/* Footer */

.footer {
    background-color: #1F2937;
}

.footer-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
   
}